.custom-namecpiker-with-advanced-search {
}

.custom-namecpiker-with-advanced-search form {
	margin:0;
}

.custom-namecpiker-with-advanced-search div {
	font-family: Arial;
	font-size:10pt;
	box-sizing:border-box;
}

.custom-namecpiker-with-advanced-search div#e-name-picker {
	width:100%;
	height:100%;
}

.custom-namecpiker-with-advanced-search div#e-name-picker-title {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:32px;
	background-color:#4178be;
	color:white;
	padding:7px 14px;
}

.custom-namecpiker-with-advanced-search div#e-search-name {
	position:absolute;
	top:32px;
	left:0px;
	width:100%;
	height:32px;
	border-bottom:1px solid #e0e0e0;
}

.custom-namecpiker-with-advanced-search div#e-search-jobtitle {
	position:absolute;
	top:64px;
	left:0px;
	width:50%;
	height:32px;
	border-bottom:1px solid #e0e0e0;
}

.custom-namecpiker-with-advanced-search div#e-search-department {
	position:absolute;
	top:64px;
	left:50%;
	width:50%;
	height:32px;
	border-bottom:1px solid #e0e0e0;
}

.custom-namecpiker-with-advanced-search div#e-search-location {
	position:absolute;
	top:96px;
	left:0px;
	width:50%;
	height:32px;
	border-bottom:1px solid #e0e0e0;
}

.custom-namecpiker-with-advanced-search div#e-search-internetaddress {
	position:absolute;
	top:96px;
	left:50%;
	width:50%;
	height:32px;
	border-bottom:1px solid #e0e0e0;
}

.custom-namecpiker-with-advanced-search div#e-search-result-container {
	padding-top:64px;
	left:0px;
	width:100%;
	height:100%;
}

.custom-namecpiker-with-advanced-search div#e-search-result {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}

.custom-namecpiker-with-advanced-search .s-search-label {
	position:absolute;
	top:0px;
	left:2em;
	width:7em;
	height:1.5em;
	padding:0.5em;
	color:#5a5a5a;
}

.custom-namecpiker-with-advanced-search .s-search-text-container {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:2em;
	padding-left:10em;
	padding-right:1em;
	padding-top:4px;
}

.custom-namecpiker-with-advanced-search .s-search-text {
	width:100%;
	height:2em;
	border-width:0px;
	padding:3px;
	outline:0px;
}

.custom-namecpiker-with-advanced-search .s-search {
	position:absolute;
	top:4px;
	right:7em;
	width:6em;
	height:24px;
	padding:4px;
	text-align:center;
	cursor:pointer;
	background-color:#4178be;
	color:white;
}

.custom-namecpiker-with-advanced-search .s-expand, .s-collapse {
	position:absolute;
	top:4px;
	right:1em;
	width:6em;
	height:24px;
	padding:4px;
	text-align:center;
	color:blue;
	cursor:pointer;
}

.custom-namecpiker-with-advanced-search .s-collapse {
	color:gray;
}

.custom-namecpiker-with-advanced-search .s-namepicker-expand div#e-search-jobtitle,
.custom-namecpiker-with-advanced-search .s-namepicker-expand div#e-search-department,
.custom-namecpiker-with-advanced-search .s-namepicker-expand div#e-search-location,
.custom-namecpiker-with-advanced-search .s-namepicker-expand div#e-search-internetaddress {
	display:block;
}
.custom-namecpiker-with-advanced-search .s-namepicker-collapse div#e-search-jobtitle,
.custom-namecpiker-with-advanced-search .s-namepicker-collapse div#e-search-department,
.custom-namecpiker-with-advanced-search .s-namepicker-collapse div#e-search-location,
.custom-namecpiker-with-advanced-search .s-namepicker-collapse div#e-search-internetaddress,
.custom-namecpiker-with-advanced-search .s-namepicker-expand .s-expand, .s-namepicker-collapse .s-collapse {
	display:none;
}

.custom-namecpiker-with-advanced-search .s-namepicker-expand div#e-search-result-container {
	padding-top:128px;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-left, .s-search-result-entry-right {
	position:absolute;
	width:50%;
	height:100px;
	padding:0.5em;
	cursor:pointer;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-left {
	left:0px;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-right {
	left:50%;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-inner {
	position:relative;
	width:100%;
	height:100%;
	border:1px solid #e0e0e0;
	border-radius:4px;
	overflow:hidden;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-image {
	position:absolute;
	top:10px;
	left:10px;
	height:64px;
	width:64px;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-info {
	position:absolute;
	top:8;
	left:82px;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-fullname {
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-internetaddress {
	color:blue;
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-department {
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-jobtitle {
}

.custom-namecpiker-with-advanced-search .s-search-result-entry-location {
}
